---
import Link from "./Link.astro";
---

<div transition:animate="slide" class="nav-links">
  <Link href="/">ホーム</Link>
  <Link href="/about/">概要</Link>
  <Link href="/blog/">ブログ</Link>
  <Link href="/tags/">タグ</Link>
</div>
